@import './base.css';

.flex-center {
    display: flex;
    align-items: center;
}

.flex-start {
    display: flex;
    align-items: flex-start;
}

.flex-end {
    display: flex;
    align-items: flex-end;
}

.form-content {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 6px;
    border: 1px solid var(--text-tertiary);
}

select, input {
    font-size: 1rem;
}
